<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>AmanatLife Email</title>
</head>
<body>
{% autoescape off %}
Здравствуйте {{ user.first_name }}, приветствуем вас на платформе <strong>Amanat Life</strong>
Пожалуйста пройдите по ссылке для потдверждения регистрации,
http://{{domain}}{% url 'account-api:activate' uidb64=uidb64 token=token %}
{% endautoescape %}
</body>
</html>